{% extends "layout.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center"
     style="min-height:85vh;">

    <div class="card p-5 shadow-lg"
         style="width:420px;
                border-radius:20px;
                background:rgba(0,0,0,.85);
                color:white;">

        <h2 class="text-center mb-4 text-danger">
            🔐 Admin Login
        </h2>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Admin ID</label>
                <input type="text"
                       name="admin_id"
                       class="form-control"
                       required>
            </div>

            <div class="mb-4">
                <label class="form-label">Password</label>
                <input type="password"
                       name="password"
                       class="form-control"
                       required>
            </div>

            <button class="btn btn-danger w-100">
                Login
            </button>

        </form>

    </div>

</div>

{% endblock %}
