{% extends "layout.html" %}

{% block content %}

<div class="container mt-4">

     <h2 style="color:#000; font-size:42px; font-weight:700; text-align:center;">
    🔍 Search Results for "{{ query }}"
</h2>

    {% if products %}

    <div class="row">

        {% for product in products %}

        <div class="col-lg-3 col-md-6 mb-4">

            <div class="card product-card h-100">

                {% if product.image.startswith('http') %}

                <img src="{{ product.image }}"
                     class="card-img-top"
                     alt="{{ product.name }}">

                {% else %}

                <img src="{{ url_for('static', filename=product.image) }}"
                     class="card-img-top"
                     alt="{{ product.name }}">

                {% endif %}

                <div class="card-body">

                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>

                    <p>
                        <strong>Category:</strong>
                        {{ product.category }}
                    </p>

                    <p>

                        <del class="text-danger">
                            ₹{{ product.original_price }}
                        </del>

                        &nbsp;&nbsp;

                        <span class="offer-price">
                            ₹{{ product.offer_price }}
                        </span>

                    </p>

                    <p>
                        ⭐ {{ product.rating }}
                    </p>

                    <a href="/product/{{ product.id }}"
                       class="btn btn-danger w-100">

                        View Details

                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="alert alert-warning text-center">

        <h4>No Products Found 😔</h4>

        <p>Try searching with another product name.</p>

        <a href="/"
           class="btn btn-danger">

            Back to Home

        </a>

    </div>

    {% endif %}

</div>

{% endblock %}
```
